@import url(./fonts.css);

.mainheader {
  width: 100%;
  height: 41.625rem;
  flex-shrink: 0;
  background: #1f2e35;
  display: flex;
}

.mainheader h1 {
  width: 34.625rem;
  color: #fff;
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.8125rem; /* 152.5% */
  letter-spacing: 0.0125rem;
  margin: 7rem 5.81rem 1rem 9.63rem;
}

.mainheader p {
  width: 34.625rem;
  color: #fff;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.28125rem; /* 202.778% */
  letter-spacing: 0.0125rem;
  margin: 0 5.81rem 1.5rem 9.63rem;
}

.mainheaderbutton {
  display: inline-flex;
  padding: 0.5625rem 1.25rem 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: #0086d6;
  color: #fff;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.21875rem;
  letter-spacing: 0.0125rem;
  text-transform: capitalize;
  margin: 0 29.38rem 3.25rem 9.63rem;
  border: none;
  cursor: pointer;
}

.mainheadersection2 {
  display: flex;
}

.mainheaderimgs {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 9.63rem;
}

.img1 {
  position: relative;
  top: 0;
  left: 0;
}
.img2 {
  position: absolute;
  left: 1.185rem;
}
.mainheaderspan {
  margin: 0.9rem 22.13rem 0rem 2rem;
}

.mainheaderfirstspan {
  color: #0086d6;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mainheaderseconspan {
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.group {
  display: flex;
  justify-content: center;
  gap: 1.88rem;
  margin-bottom: 7.5rem;
}

.groupbox {
  width: 22.5rem;
  height: 13.1875rem;
  flex-shrink: 0;
  background-color: #fff;
  margin-top: 4.37rem;
  align-items: center;
  text-align: center;
}

.groupbox h2 {
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.groupbox h3 {
  color: #333e44;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.groupbox p {
  color: #475e69;
  text-align: center;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 155%; /* 1.74375rem */
  padding: 1rem 3.06rem 1.37rem 3.06rem;
}

#grouph1 {
  color: #0086d6;
}

#grouph2 {
  color: #2ba093;
}

#grouph3 {
  color: #f36;
}

.popular {
  width: 100%;
  height: 44.625rem;
  flex-shrink: 0;
}

.popularheader {
  margin-bottom: 2.62rem;
}

.popularheader h1 {
  color: #333e44;
  text-align: center;
  font-family: Poppins;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 88.889% */
  letter-spacing: 0.0125rem;
  margin-bottom: 1rem;
}

.popularheader p {
  color: #475e69;
  text-align: center;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.popularbox {
  display: flex;
  justify-content: center;
  margin-bottom: 2.87rem;
}

.popularbox1 {
  width: 22.5rem;
  height: 27rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 32px 56px 0px rgba(0, 0, 0, 0.08);
}

.popularbox1logo {
  display: flex;
  width: 19.9375rem;
  height: 11.6875rem;
  padding: 2.6875rem 0rem 2.75rem 0rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  background: #f5f5f5;
  margin: 1.25rem 1.31rem 0rem 1.25rem;
}

.popularbox1h2 {
  display: flex;
  justify-content: space-between;
  margin-left: 1.25rem;
  padding-top: 1.75rem;
}

.popularbox1span1 {
  color: #20c08b;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 177.778% */
  letter-spacing: 0.0125rem;
  margin-right: 1.25rem;
}

.popularbox1span2 {
  color: #ffc942;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 177.778% */
  letter-spacing: 0.0125rem;
  margin-right: 1.25rem;
}

.popularbox2 {
  width: 24.25rem;
  height: 28.375rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  margin-right: 1.13rem;
  margin-left: 1rem;
}

.popularbox2logo {
  display: flex;
  width: 21.75rem;
  height: 11.625rem;
  padding: 2.6875rem 0rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  background: #f5f5f5;
  margin: 1.25rem 1.25rem 0 1.25rem;
}

.popularbox3 {
  width: 22.5rem;
  height: 27rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.popularbox3logo {
  display: flex;
  width: 19.9375rem;
  height: 11.6875rem;
  padding: 2.6875rem 6.8125rem 2.75rem 6.875rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  background: #f5f5f5;
  margin: 1.25rem 1.31rem 0rem 1.25rem;
}

.popularbox h2 {
  color: #333e44;
  font-family: Poppins;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 2.625rem */
}

.popularbox p {
  color: #475e69;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 1.6rem */
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.popularspan2 {
  display: inline-flex;
  height: 2.0625rem;
  padding: 0rem 0.625rem 0.0625rem 0.625rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background: #e1ebfb;
  color: #0086d6;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 228.571% */
  letter-spacing: 0.0125rem;
  margin: 1rem 1rem 1.25rem 1.25rem;
}

.popularspan3 {
  display: inline-flex;
  width: 7.25rem;
  height: 2.0625rem;
  padding: 0rem 0.5625rem 0.0625rem 0.625rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.25rem;
  background: #e1ebfb;
  color: #0086d6;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 228.571% */
  letter-spacing: 0.0125rem;
}

.popularbutton {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0.4375rem 2.9375rem 0.375rem 2.75rem;
  align-items: center;
  border-radius: 0.5rem;
  background: #333e44;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 160% */
  letter-spacing: 0.0125rem;
  border: none;
  cursor: pointer;
}

.mid1 {
  width: 100%;
  height: 4.34rem; /*ეს უნდა წავუშალო */
}

.comerheader {
  margin-bottom: 2.62rem;
}

.comerheader h1 {
  color: #333e44;
  text-align: center;
  font-family: Poppins;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 88.889% */
  letter-spacing: 0.0125rem;
  margin-bottom: 1rem;
}

.comerheader p {
  color: #475e69;
  text-align: center;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.comerbox {
  display: grid;
  place-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3.12rem;
  grid-row-gap: 3.12rem;
  margin-top: 3.31rem;
}

.comerbox1 {
  grid-area: 1 / 1 / 2 / 2;
  width: 31.25rem;
  height: 12.125rem;
  flex-shrink: 0;
  justify-self: end;
  display: flex;
}

.comerboximg1 {
  width: 7.5rem;
  height: 7.5rem;
  padding: 0.625rem 1.70894rem 0.625rem 1.6875rem;
  flex-shrink: 0;
  object-fit: cover;
  margin: 2.315rem 0 2.315rem 1.5025rem;
  border-radius: 0.25rem;
  background: #f5f5f5;
}

.comerboxcontent {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  margin-right: 1.44rem;
  margin-bottom: 1.87rem;
}

.comerboxh2span {
  display: flex;
}

.comerboxp {
  color: #475e69;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  margin-bottom: 1rem;
}

.comerboxspan1 {
  display: inline-flex;
  height: 2.0625rem;
  padding: 0rem 0.625rem 0.0625rem 0.625rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #335ef7;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 228.571% */
  letter-spacing: 0.0125rem;
  border-radius: 0.25rem;
  background: #e1ebfb;
  margin-right: 0.5rem;
}

.comerboxspan2 {
  display: inline-flex;
  height: 2.0625rem;
  padding: 0rem 0.625rem 0.0625rem 0.625rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #335ef7;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 228.571% */
  letter-spacing: 0.0125rem;
  border-radius: 0.25rem;
  background: #e1ebfb;
}

.comerbox2 {
  grid-area: 1 / 2 / 2 / 3;
  width: 31.25rem;
  height: 12.125rem;
  flex-shrink: 0;
  justify-self: start;
  display: flex;
}

.comerboximg2 {
  width: 7.5rem;
  height: 7.5rem;
  padding: 0.625rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #f5f5f5;
  margin: 2.315rem 0 2.315rem 1.5025rem;
}

.comerbox3 {
  grid-area: 2 / 1 / 3 / 2;
  width: 31.25rem;
  height: 12.125rem;
  flex-shrink: 0;
  justify-self: end;
  display: flex;
}

.comerboximg3 {
  width: 7.5rem;
  height: 7.5rem;
  padding: 0.625rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #f5f5f5;
  margin: 2.315rem 0 2.315rem 1.5025rem;
}

.comerbox4 {
  grid-area: 2 / 2 / 3 / 3;
  width: 31.25rem;
  height: 12.125rem;
  flex-shrink: 0;
  justify-self: start;
  display: flex;
}

.comerboximg4 {
  width: 7.5rem;
  height: 7.5rem;
  flex-shrink: 0;
  padding: 2.25rem 0.5rem;
  border-radius: 0.5rem;
  background: #f5f5f5;
  margin: 2.315rem 0 2.315rem 1.5025rem;
}

.comerh2 {
  color: #333e44;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 2.25rem */
  /* padding: 1.5rem 11.37rem 0.5rem 1.5rem; ეს არის გასაწრორებელი  */
}

.comerh2span1 {
  color: #21d789;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.6875rem */
  margin-left: 11.38rem;
  margin-top: 0.31rem;
  /* margin: 1.81rem 1.44rem 0.75rem; ესეც გასასწორებელია ყველა სათითაოდ არის გასასწორებელი */
}
.comerh2span2 {
  color: #21d789;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.6875rem */
  margin-left: 8.69rem;
  margin-top: 0.31rem;
  /* margin: 1.81rem 1.44rem 0.75rem; ესეც გასასწორებელია ყველა სათითაოდ არის გასასწორებელი */
}
.comerh2span3 {
  color: #009bff;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.6875rem */
  margin-left: 3.75rem;
  margin-top: 0.31rem;
  /* margin: 1.81rem 1.44rem 0.75rem; ესეც გასასწორებელია ყველა სათითაოდ არის გასასწორებელი */
}

.comerh2span4 {
  color: #ffc942;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 1.6875rem */
  margin-left: 9.25rem;
  margin-top: 0.31rem;
}

.comerbutton {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0.4375rem 2.9375rem 0.375rem 2.75rem;
  align-items: center;
  border-radius: 0.5rem;
  background: #333e44;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 160% */
  letter-spacing: 0.0125rem;
  margin-top: 3.13rem;
  margin-bottom: 9.06rem;
  border: none;
  cursor: pointer;
}

.comerbox1:hover {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}

.comerbox2:hover {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}
.comerbox3:hover {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}
.comerbox4:hover {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}

.brand {
  margin-bottom: 2.62rem;
  width: 100%;
  height: 24.25rem;
  flex-shrink: 0;
}

.brandheader h2 {
  color: #333e44;
  text-align: center;
  font-family: Poppins;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 88.889% */
  letter-spacing: 0.0125rem;
  margin-bottom: 1rem;
}

.brandheader p {
  color: #475e69;
  text-align: center;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.brandbox {
  display: flex;
  justify-content: center;
  margin-bottom: 2.87rem;
  margin-top: 2rem;
}

.brandbox1 {
  width: 22.5rem;
  height: 12.375rem;
  flex-shrink: 0;
  background: #fff;
}

.brandbox1logo {
  flex-shrink: 0;
  padding: 2rem 7.81rem 0 7.12rem;
}

.brandbox2 {
  width: 22.4375rem;
  height: 12.375rem;
  flex-shrink: 0;
  margin: 0 1.88rem 0 1.88rem;
  background: #fff;
}

.brandbox2logo {
  flex-shrink: 0;
  padding: 2rem 7.81rem 0 7.12rem;
}

.brandbox3 {
  width: 22.3125rem;
  height: 12.375rem;
  gap: 1.25rem;
  background: #fff;
}

.brandbox3logo {
  padding: 2rem 7.81rem 0 7.12rem;
}

.brandbox1:hover {
  border-radius: 0.5rem;
  box-shadow: 0px 8px 50px 0px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.brandbox2:hover {
  border-radius: 0.5rem;
  box-shadow: 0px 8px 50px 0px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.brandbox3:hover {
  border-radius: 0.5rem;
  box-shadow: 0px 8px 50px 0px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.brandbox p {
  width: 20.5rem;
  color: #475e69;
  text-align: center;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 175% */
  letter-spacing: 0.01875rem;
  padding: 1.25rem 0.87rem 0 1.5rem;
}

.testimonial {
  width: 100%;
  height: 33.125rem;
  flex-shrink: 0;
}

.testimonialheader h2 {
  color: #333e44;
  text-align: center;
  font-family: Poppins;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 88.889% */
  letter-spacing: 0.0125rem;
  margin-bottom: 1rem;
}

.testimonialheader p {
  color: #475e69;
  text-align: center;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.testimonialbox {
  display: flex;
  justify-content: center;
  margin-top: 2.69rem;
}
.testimonialboxstars {
  padding-top: 1.5rem;
  padding-left: 1.61rem;
}
.testimonialbox1 {
  width: 22.4375rem;
  height: 17.75rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 1px solid #dedede;
  background: #fff;
}

.testimonialbox1 p {
  width: 19.6875rem;
  color: #475e69;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6875rem; /* 168.75% */
  letter-spacing: 0.0125rem;
  padding: 1.35rem 1.25rem 0 1.5rem;
}

.testimonialboxbio {
  display: flex;
  margin: 0.65rem 0 1.54rem 1.5rem;
}

.testamonialboxbioh3p {
  margin-top: 0.625rem;
  margin-left: 1rem;
}

.testamonialboxbioh3p h3 {
  color: #333e44;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 133.333% */
  letter-spacing: 0.0125rem;
}

.testamonialboxbioh3p span {
  color: #30444e;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.0125rem;
}

.testimonialbox2 {
  width: 23.75rem;
  height: 19.5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 1px solid #dedede;
  background: #fff;
  box-shadow: 0px 16px 50px 0px rgba(0, 0, 0, 0.08);
  margin: -0.5rem 1.25rem 0 1.25rem;
}

.testimonialbox2 p {
  width: 20.75rem;
  color: #475e69;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6875rem; /* 168.75% */
  letter-spacing: 0.0125rem;
  padding-top: 1.35rem;
  padding: 1.35rem 1.25rem 0 1.5rem;
}

.testimonialbox3 {
  width: 22.4375rem;
  height: 17.9rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 1px solid #dedede;
  background: #fff;
}

.testimonialbox3 p {
  width: 19.6875rem;
  color: #475e69;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6875rem; /* 168.75% */
  letter-spacing: 0.0125rem;
  padding-top: 1.35rem;
  padding: 1.35rem 1.25rem 0 1.5rem;
}
